body{                                           /*Body*/
    font-family: sans-serif;
    font-size: 2rem;
}

nav{                                            /*Nav*/
    width: auto;
    height: 7rem;
    background-color: black;
}

ul{                                             /*Liens Nav et Footer*/
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 3.3rem 0rem 1rem;
}

li{                                             /*Marge du Haut des liens Nav et Footer*/
    margin-top: 2.6rem;
}

a{                                              /*Couleur Liens Nav et Footer*/                                        
    color: #e9e9eb;
    text-decoration: none;
}

main{                                           /*Main*/
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: center;
    border: 0.15rem solid black;
    border-top: 1rem solid #6aaf04;
    border-bottom: 1rem solid #6aaf04;
}

    
footer{                                         /*Footer*/
    width: auto; 
    height: 7rem;
    background-color: black;
    border-bottom: 5rem solid #6aaf04;
    border-bottom-left-radius: 5rem 5rem;
    border-bottom-right-radius: 5rem 5rem;
}

.page{                                          /*Menu déroulant Sélection Page*/
    width:15rem;
    height:2rem;
    font-size: 1.3rem;
    background-color: black;
    color: #e9e9eb;
    margin-top: 2.6rem;
}

details{                                        /*Enoncé de l'Exercice*/
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

p{                                              /*Taille et Police Paragraphes*/
    font-size: 1.8rem;
    font-family: serif;
}

.exemple_table{                                 /*Exemple dans énoncé Exercice 2*/
    margin: -2.5rem 0rem 0rem 4rem;
    display: flex;
}

#tab_bleu{                                      /*Couleur des Variables dans énoncé Exercice 4*/
    color: blue;
}

header{                                         /*Header*/
    width:auto; 
    height:15rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.2rem solid #6aaf04;
    border-left: 0.2rem solid #6aaf04;
    border-right: 0.2rem solid #6aaf04;
    border-top-left-radius: 7.5rem 7.5rem;
    border-top-right-radius: 7.5rem 7.5rem;
}

h1{                                             /*Titre H1 Exercice*/
    font-size: 3.5rem;    
    text-decoration-color: black;
}

h2{                                             /*Titre H2 Intitulé exercice*/
    font-size: 3.5rem;
    font-weight: lighter;    
    text-decoration-color: black;    
}

.titre_exe{                                     /*Bulle Header Exercice*/
    width: 56rem; 
    height: 15rem;
    color: #e9e9eb;
    background-color: #6aaf04;
    border: 0.1rem solid #6aaf04;  
    padding-left: 5rem;  
    margin-top: -0.2rem;
    margin-left: 0rem; 
    border-bottom-right-radius: 7.5rem 7.5rem;
    border-top-right-radius: 7.5rem 7.5rem;
    border-top-left-radius: 7.5rem 7.5rem;
}

.logo{                                          /*Logo Afpa*/
    width: 14.8rem; 
    height: 14.8rem;
    border: 0.2rem solid #6aaf04;
    margin-top: -0.2rem;
    margin-right: -0.1rem;
    border-radius: 7.5rem 7.5rem;
    background-color: #6aaf04;
}

.int_logo{                                      /*Intérieur du Logo Afpa*/
    width: 12rem;
    height: auto;
    margin-top: 3.5rem;
    margin-left: 1rem;
}

#copyright{                                     /*Phrase Bas de Footer*/
    color: #e9e9eb;
    font-size: 1rem;
    margin-top: 4.5rem;
    margin-right: 0rem;
    display: flex;
    justify-content: center;font-family: serif;
}

#enonce{                                        /* Id: Taille intitulé de l'énoncé*/                             
    font-size: 2rem;
}

                                    /*FIN*/